body{
	/*background-color: #c1c1c1;*/
    background-image: url(images_bulles/fond_le_s_tu2.png);
    background-size: 100%;
}

#back1{
    text-align: center;
    color: black;
    margin-top: 19%;
    margin-bottom: 27%;
    /*background-image: url(images_bulles/fond_accueil2.png);
    background-size: 100%;
    background-position: bottom;*/
}

#back2{
    background: rgb(80, 80, 80, 0.6);
    border-radius: 20%;
    width: 40%;
    height: auto;
    margin: auto;
    margin-left: 10%;
    margin-right: 4%;
    margin-top: 3%;
    text-align: center;
    color: white;
}

#back2_1{
    background: rgb(80, 80, 80, 0.6);
    border-radius: 20%;
    width: 40%;
    height: auto;
    margin: auto;
    margin-left: 10%;
    margin-right: 4%;
    text-align: center;
    color: white;
}

#back2_2{
    background: rgb(80, 80, 80, 0.6);
    border-radius: 20%;
    width: 40%;
    height: auto;
    margin: auto;
    margin-left: 10%;
    margin-right: 4%;
    text-align: center;
    color: white;
}

#back2_3{
    background: rgb(80, 80, 80, 0.6);
    border-radius: 20%;
    width: 40%;
    height: auto;
    margin: auto;
    margin-left: 10%;
    margin-right: 4%;
    text-align: center;
    color: white;
}

#back3{
    background: rgb(80, 80, 80, 0.6);
    border-radius: 20%;
    width: 40%;
    height: auto;
    margin: auto;
    margin-left: 50%;
    margin-top: 3%;
    text-align: center;
    color: white;
}

#back3_1{
    background: rgb(80, 80, 80, 0.6);
    border-radius: 20%;
    width: 40%;
    height: auto;
    margin: auto;
    margin-left: 4%;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#back3_2{
    background: rgb(80, 80, 80, 0.6);
    border-radius: 20%;
    width: 40%;
    height: auto;
    margin: auto;
    margin-left: 4%;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#ligne1{
    display: flex;
    margin-top: 5%;
}

#img1{
    background-color: white;
    background-image: url(images_bulles/le_s_tu_ast.png);
    background-repeat: no-repeat;
    background-position: 19% 81%;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(80, 80, 80, 0.6);
    width: 455px;
    height: 405px;
    margin: auto;
    margin-left: 0%;

}

#img2{
    background-image: url(images_bulles/le_s_tu_libexp.jpg);
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(80, 80, 80, 0.6);
    width: 555px;
    height: 280px;
    margin: auto;
    margin-right: 0%;

}

#img3{
    background-color: white;
    background-image: url(images_bulles/le_s_tu_israel.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(80, 80, 80, 0.6);
    width: 555px;
    height: 494px;
    margin: auto;
    margin-left: 0%;

}

#img4{
    background-image: url(images_bulles/le_s_tu_slack.jpg);
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(80, 80, 80, 0.6);
    width: 555px;
    height: 427px;
    margin: auto;
    margin-right: 0%;

}

#img5{
    background-color: white;
    background-image: url(images_bulles/le_s_tu_desob.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(80, 80, 80, 0.6);
    width: 555px;
    height: 494px;
    margin: auto;
    margin-left: 0%;

}

#link1{
    position: fixed;
    color: black;
    margin: 0px;
    width: 200px;
    height: 70px;
    top: 0%;
}

h1{
    font-size: 48pt;
}

h2{
    font-size: xx-large;
}

h3{
    text-align: center;
    line-height: 35px;
    font-size: xx-large;
}

a{
    text-decoration: none;
}

p{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

p2{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}



B{
    font-size: 120px;
}