body{
	/*background-color: #c1c1c1;*/
    background-image: url(images_bulles/fond_quizz2.png);
    background-size: 100%;
}

#back1{
    text-align: center;
    color: black;
    margin-top: 12%;
    margin-bottom: 20%;
    /*background-image: url(images_bulles/fond_accueil2.png);
    background-size: 100%;
    background-position: bottom;*/
}

#back2{
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#link1{
    background-color: black;
    border-radius: 60%;
    width: 200px;
    height: 70px;
}

h1{
    font-size: 48pt;
}

h2{
    font-size: xx-large;
}

h3{
    text-align: center;
    line-height: 70px;
    font-size: x-large;
    color: #c1c1c1;
}

a{
    text-decoration: none;
}

p{
    font-size: xxx-large;
    font-family: Arial, Helvetica, sans-serif;
}

p1{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}